@model AzureP33.Models.Home.HomeIndexViewModel

<h2>Перекладач</h2>

<form method="get">
    <textarea id="source-textarea" name="original-text">@Model.FormModel?.OriginalText</textarea>

    <select name="lang-from">
        @foreach(var item in Model.LanguagesResponse.Translations)
        {
            <option value="@item.Key" @(item.Key == Model.FormModel?.LangFrom ? "selected" : "")>@item.Value.Name</option>
        }
    </select>

    <select name="lang-to">
        @foreach(var item in Model.LanguagesResponse.Translations)
        {
            <option value="@item.Key" @(item.Key == Model.FormModel?.LangTo ? "selected" : "")>@item.Value.Name</option>
        }
    </select>

    <button type="submit" name="action" value="translate">Translate</button>

    <div>
        <input type="checkbox" id="enableSelectionTranslate" />
        <label for="enableSelectionTranslate">Enable selection translation</label>
    </div>

    <textarea readonly>@Model.Items?[0].Translations[0].Text</textarea>
</form>

<script src="~/js/selection-translate.js"></script>
